body
{
   background-color: #DDDDDD;
   color: black;
   text-decoration: bold;
   padding: 2px;
}

#MenuBar
{
   background-color: #FF1111;
}

#TitleBar
{
   background-color: #FF1111;
}

#LoginWidget
{
   background-color: #FF9900;
}

#LoginWidgetAuthentifiedUser
{

}

#LoginWidgetUnauthentifiedUser
{

}

.View
{
   background-color: #FF9900;
}

#CustomizeView
{

}

#RegisterView
{

}

#DemandsView
{

}

#PersonalView
{

}

.Button
{
   background-color: #FF9900;
}

.Button:hover
{
   background-color: #990000;
   text-decoration: italic;
}

