body
{
   background-color: #DDDDDD;
   color: black;
   text-decoration: bold;
   padding: 0px;
   margin:0px;
	overflow: auto;
   font-family:Arial;
}

div
{
   padding: 2px;
   display:inline-block;
   width:50%;
}
span
{
   padding:2px;
}

#MenuBar
{
   background-color: #EE2222;
   display: block;
   position: absolute;
   left: 2%;
   top: 2%;
   width: 72%;
   height: 8%;
   font-weight:bold;
	font-style:italic;
}

.Title
{
   font-size:200%;
   margin-left: 30%;
}

.MenuElement
{
   font-size:200%;
   margin-left:9%;
   margin-right:9%;
   height: 100%;
}

.MenuElement:hover
{
   background-color: #FF9900;
}

#ConsoleBar
{
   background-color: #EE2222;
   display: block;
   position: absolute;
   left: 2%;
   top: 12%;
   width: 72%;
   height: 56%;
   font-size:80%;
   text-wrap:auto;
   overflow:scroll;
   font-style:italic;
   font-family:Courier New;
}

#LoginWidget
{
   background-color: #FF9900;
   display: block;
   position: absolute;
   left: 76%;
   top: 2%;
   width: 22%;
   height: 66%;
}

#LoginWidgetAuthentifiedUser
{
   display:block;
   width:auto;
}

#LoginWidgetUnauthentifiedUser
{

}

#Container
{
   background-color: #FF9900;
   padding: 4px;
   display: block;
   position: absolute;
   left: 2%;
   top: 70%;
   width: 96%;
   height: 76%;
}

.View
{
   background-color: #EE8800;
   
   display: block;
   position: absolute;
   
   left: 1%;
   top: 1%;
   width: 98%;
   height: 98%;
}

#CustomizeView label
{
   display: inline-block; 
   width: 5%; 
   text-align: right;
}

#MakeADemandButton
{
   position: absolute;
   left:2%;
   width:10%;
}

#RegisterView label
{
   display: inline-block; 
   width: 18%; 
   text-align: right;
   line-height: 32px;
}

#RegistrationButton
{
   position: absolute;
   left:4%;
   width:20%;
}

.DemandsViewDemandElement table
{
   border: 1px solid red;
   border-collapse:collapse;
   padding:2px;
}

.DemandsViewDemandElement ul li
{
   list-style-type: none;
}

.PersonalViewDemandElement table
{
   border: 1px solid red;
   border-collapse:collapse;
   padding:2px;
}

.PersonalViewDemandElement ul li
{
   list-style-type: none;
}

.Button
{
   background-color: #EE2222;
   border-style:solid;
	border-color:#c00 #c00 #f11 #f11;
	border-width:1px 1px 2px 2px;
	overflow:hidden;
   text-align:center;
   padding:1px;
}

.Button:hover
{
   background-color: #FF0000;
   text-decoration: italic;
}

#LoginLabel
{
   margin-left:auto;
   margin-right:auto;
}

#ConnectButton
{
   position: absolute;
   left: 55%;
   top: 10%;
   height: 80%;
   width: 40%;
   line-height:80px;
}



.Button 
{
	-moz-box-shadow:inset 0px 1px 0px 0px #f29c93;
	-webkit-box-shadow:inset 0px 1px 0px 0px #f29c93;
	box-shadow:inset 0px 1px 0px 0px #f29c93;
	background-color:#fe1a00;
	-webkit-border-top-left-radius:0px;
	-moz-border-radius-topleft:0px;
	border-top-left-radius:0px;
	-webkit-border-top-right-radius:0px;
	-moz-border-radius-topright:0px;
	border-top-right-radius:0px;
	-webkit-border-bottom-right-radius:0px;
	-moz-border-radius-bottomright:0px;
	border-bottom-right-radius:0px;
	-webkit-border-bottom-left-radius:0px;
	-moz-border-radius-bottomleft:0px;
	border-bottom-left-radius:0px;
	text-indent:0px;
	border:1px solid #d83526;
	display:inline-block;
	color:#ffffff;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	font-style:italic;
	height:32px;
	line-height:32px;
	/*width:70px;*/
	text-decoration:none;
	text-align:center;
	text-shadow:1px 1px 0px #b23e35;
}
.Button:hover 
{
	background-color:#ce0100;
}
